@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script&family=Quicksand:wght@400;500&family=Raleway&family=Roboto+Mono:wght@200&display=swap');

body {
    display: flex;
    color: antiquewhite;
    background-color: #1e0e29;
    font-family: 'Gantari', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    max-width: 900px;
    margin-left: 20%
}

img {
    border-radius: 20px;;
}
